/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


    /*regle commun*/

    footer span{
      display: none;
    }

     img, figure{
     width: 100%;
     margin: 0;
     }

     a{
       color: inherit;
       text-decoration: none;
     }

     body{
       color: #21295c;
       font-family: 'Maven Pro', sans-serif;
     }

     a:hover{
       text-decoration: none;
     }

    .containerindex,
    .containerproj,
    .containerabout,
    .containercontact{
       width: 90%;
       margin: auto;
     }

     .bk{
       width: 100%;
     }

     li{
       list-style: none;
     }

     ul{
       padding: 0;
     }

    /*end regles commun*/

    /*background image*/

    .bk{
       background: url("../img/yamobile.jpg") fixed bottom;
       background-size: cover;
       height: 90vh;
     }

     .bk2{
       background: url("../img/yamobile.jpg") fixed bottom;
       background-size: cover;
       height: 62vh;
     }

   /*background image end */

   /*menu js*/

   .menu_bar{
     display: block;
     position: fixed;
     width: 100%;
     background: #21295c;
     color: white;
   }

   .bt-menu img{
     width: 25px;
   }

   .bt-menu{
     display: block;
     padding: 10px;
     text-align: center;
     z-index: 200;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
   }

   nav{
     width: 100%;
     height: 350px;
     left: -100%;
     margin: 0;
     margin-top: 45px;
     position: fixed;
     background: #21295c;
     z-index: 100;
     opacity: 0.9;
     color: #D4E5C1;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 2px;
     font-weight: bold;
   }

   nav ul li a{
     display: inline-block;
     padding: 20px;
     -webkit-transition: all .8s ease; /* Safari and Chrome */
     -moz-transition: all .8s ease; /* Firefox */
     -ms-transition: all .8s ease; /* IE 9 */
     -o-transition: all .8s ease; /* Opera */
     transition: all .8s ease;
   }

   nav ul li a:hover{
     color: #f0544f;
   }

   nav ul li img{
     width: 35px;
   }

    nav ul li img:hover{
     border: #f0544f 1px solid;
   }

   nav span{
     color: #f0544f;
     /*text-decoration: line-through;*/
   }

   /*end menu js*/

  /*center*/

  .center h1{
    margin: 0;
    text-transform: uppercase;
    border: 2px #21295c solid;
    font-size: 28px;
    padding: 6px 12px;
    -webkit-transition: all .8s ease; /* Safari and Chrome */
    -moz-transition: all .8s ease; /* Firefox */
    -ms-transition: all .8s ease; /* IE 9 */
    -o-transition: all .8s ease; /* Opera */
    transition: all .8s ease;
  }

  .center h1:hover{
    background: #D4E5C1;
    border: 2px #D4E5C1 solid;
    opacity: .7;
    color: #21295c;
  }

  .center h2, .center h1{
    color: #21295c;
  }

  .center h2{
    font-size: 18px;
    margin: 4px 0;
  }

  .center{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80vh;
  }

  /*center end*/

  /*container index*/

  .exampleproject, .containerindex h2,
  .containerproj h2, .containercontact h2{
    text-align: center;
  }

  .containerindex h2, .containerproj h2,
  .containerabout h2, .containercontact h2{
    width: 100%;
    margin: 8px auto;
    font-size: 30px;
    font-weight: normal;
    color: #f0544f;
    font-family: 'Lobster', cursive;
  }

  .exampleproject{
    border: #D4E5C1 2px solid;
    margin: 20px auto 60px auto;
    box-shadow: 5px 5px 25px #21295c;
  }

  .exampleproject h3{
    background: #21295c;
    font-size: 18px;
    padding: 20px;
    margin: 0;
    color: #D4E5C1;
  }

  .exampleproject:hover h3{
    color: #f0544f;
  }

  .exampleproject p{
    width: 80%;
    margin: 20px auto;
  }

  /*end container index*/

  /*page project*/

  .containerproj h4{
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  #cre, #rep{
    color: #f0544f;
  }

  /*end page projets*/

  /*page about*/

  .containerabout figure{
    width: 200px;
    padding: 5px;
    border: #D4E5C1 1px solid;
  }

  .containerabout p{
    text-align: justify;
  }

  .containerabout h3, .containerabout h2{
    text-align: center;
  }

  .cv a{
    background: #f0544f;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .containerabout .cv{
    text-align: center;
  }

  .cv a:hover{
    background: white;
    border: 2px #f0544f solid;
    color: #f0544f;
  }

  .disc, .formation, .experience{
    box-shadow: 5px 5px 12px 5px #D4E5C1;
    padding: 10px;
    margin-bottom: 50px;
  }

  .disc h3,
  .formation h3, .experience h3{
    border-bottom: 2px #f0544f solid;
    color: #f0544f;
  }

  .disc a{
    color: #f0544f;
  }

  .disc a:hover{
    text-decoration: underline;
  }

  .disc h4,
  .formation h4, .experience h4{
    font-size: 18px;
  }

  .containerabout aside ul img{
    width: 20px;
  }

  .containerabout aside li{
    margin: 10px auto;
  }

  .containerabout aside{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerabout h2{
    margin-bottom: 30px;
  }

  .abt img{
    width: 20px;
  }

  .containerabout h4{
    font-weight: bold;
  }

  /*end page about*/

  /*page contact*/

  .containercontact{
    display: flex;
    flex-wrap: wrap;
  }

  .cont{
    text-align: center;
    width: 100%;
    border: #f0544f solid 2px;
  }

  .cont li a:hover{
    color: #f0544f;
    text-decoration: underline;
  }

  .containercontact li{
    margin: 10px auto;
  }

  .containercontact p{
    text-align: justify;
  }

  /*end page contact*/

  /*footer*/

  footer{
    background: #D4E5C1;
    opacity: .8;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 12px 5px #D4E5C1;
  }

  /*follow*/

  .follow {
     margin: 10px 0;
   }

   .follow ul {
    text-align: center;
   }

   .follow a {
    /*padding: 7px;*/
    color: #21295c;
   }

   .follow a:not(:first-child) {
    margin-left: 10px;
   }

   .follow i {
    /*vertical-align: middle;*/
    transition: color .2s ease-in-out;
   }

   .follow a:nth-child(1):hover i {
    color: #3B5998;
   }

   .follow a:nth-child(2):hover i {
    color: #3B3B3B;
   }

   .follow a:nth-child(3):hover i {
    color: steelblue;
   }


   .follow a:nth-child(4):hover i {
    color: #4099FF;
   }

   .follow a:nth-child(5):hover i {
    color: #dd4b39;
   }

   .follow a:nth-child(6):hover i {
    color: #a63372;
   }

  /*follow end*/

  .c{
    border: #21295c 2px solid;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .c:hover{
    background: #21295c;
    color: #D4E5C1;
  }

  footer p{
    margin: 0;
    font-size: 15px;
  }

  /*footer end*/


  /*TABLET MEDIA */

    @media (min-width: 768px) {

      .bk{
          background: url("../img/yatab.jpg") fixed bottom;
          background-size: cover;
      }

      .bk2{
          background: url("../img/yatab.jpg") fixed bottom;
          background-size: cover;
      }

      /*menu js*/

      .menu_bar{
        display: none;
      }

      nav{
        left: inherit;
        width: 100%;
        padding: inherit;
        height: inherit;
        margin-top: 0;
        position: inherit;
      }

      nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 0;
      }

      nav ul li{
        -webkit-transition: all .8s ease; /* Safari and Chrome */
        -moz-transition: all .8s ease; /* Firefox */
        -ms-transition: all .8s ease; /* IE 9 */
        -o-transition: all .8s ease; /* Opera */
        transition: all .8s ease;
      }

      nav ul li:nth-child(5):hover{
        background: none;
      }

      nav ul li:nth-child(5) a{
        padding: 5px;
      }

      nav ul li:hover{
        color: white;
      }

      nav ul li a{
        padding: 15px;
      }

      nav ul li img:hover{
        border: inherit;
      }

      nav ul li a:hover{
        color: inherit;
      }

      nav span {
        border-bottom: 2px solid #2b315b;
      }

      /*end menu js*/

      .containerindex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .part1, .part2{
        width: 70%;
      }

      /*projects page*/

      .containerproj{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .ex{
        width: 45%;
      }

      #cre, #rep{
        width: 100%;
      }
      /*end projects page*/

      /*page contact*/
      .containercontact{
        justify-content: center;
      }

      .cont{
        width: 50%;
      }

      /*end page contact*/
    }

    /*DESKTOP MEDIA*/

    @media (min-width: 1024px) {

      .bk{
          background: url("../img/ya.jpg") fixed center;
          background-size: cover;
      }

      .bk2{
          background: url("../img/ya.jpg") fixed bottom;
          background-size: cover;
      }

      .containerindex,
      .containerproj,
      .containerabout{
         width: 80%;
       }

        .exampleproject:hover{
           opacity: .9;
        }

        .part1, .part2{
          width: 45%;
        }

        .containerindex{
          justify-content: space-between;
        }

        /*page about*/

        .containerabout{
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: space-between;
        }

        .containerabout figure{
          width: 220px;
        }

        .abt{
          width: 70%;
        }

        .containerabout aside{
          width: 25%;
        }

        /*end page about*/

        /*page contact*/

        .containercontact{
          justify-content: space-around;
        }

        .cont, .containercontact p{
          width: 40%;
        }

        /*end page contact*/

    }





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
